<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50 backdrop-blur-xl bg-white/30"> 
    <nav class="flex items-center justify-between p-6 lg:px-8 " aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="font-bold tracking-tight text-gray-900 group">Storage<span class="text-violet-700 group-hover:text-violet-500 transition-all duration-300 ">APP</span><span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 group-hover:bg-violet-500 bg-violet-700"></span>
        </a>

      </div>
      <!--
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      -->
      
      <div class="flex lg:gap-x-12">
      <!-- wewnątrz nav -->
      <% if current_user %>
        <%= link_to "Drive", posts_path ,class:"text-sm font-semibold text-violet-700 hover:text-violet-500 leading-6 transition-all duration-300"%>
      <% end %>
      </div>
      <div class="flex lg:flex-1 lg:justify-end">
      <% if !current_user %>
          <%= link_to "Log in", new_user_session_path,  class:"text-sm font-semibold leading-6 text-gray-900"%>
      <% else %>
          <%= link_to "Log out", destroy_user_session_path,  class:"text-sm font-semibold leading-6 text-gray-900", data: {turbo_method: :delete}%>
      <% end %>
        <span aria-hidden="true">&rarr;</span>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <!-- <div class="fixed inset-0 z-50"></div>-->
      <!-- removing right slide in
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
            </div>
            <div class="py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-40 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-3xl py-32 sm:py-48 lg:py-56">
      <div class="text-center backdrop-blur-md bg-white/30 rounded-lg p-10 shadow-2xl">
        <h1 class="text-4xl font-bold tracking-tight text-violet-700 sm:text-6xl ">Simple Storage Solution just for you</h1>
        <% if current_user %>
          <%= link_to link_to "Start using", posts_path,  class: "rounded-md mx-5 my-5 px-6 py-3 text-mdfont-semibold text-white shadow-lg focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2  focus-visible:outline-indigo-600 bg-violet-600  hover:bg-violet-500  transition-all duration-300 inline-block" %>
        <% end %>
        <p class="mt-6 text-lg leading-8 text-gray-600">This website was built using Ruby on Rails on Ubuntu using WSL, then using Tailwind and some basic templates.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
        <% if !current_user %>
          <%= link_to "Sign up", new_user_registration_path,  class: "rounded-md  px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2  focus-visible:outline-indigo-600 bg-violet-600  hover:bg-violet-500  transition-all duration-300" %>
        <% end %>
          <a href="https://github.com/osieks/RailsStorage" class="text-sm font-semibold leading-6 text-gray-900"> <%= image_tag "GitHub-Logos/GitHub_Logo.png", :size => "80x50", :crop => :fill %> <span aria-hidden="true"> Project→</span></a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-40 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
