<%= form_with(model: post, class: "contents", multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :Comment %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :feature_file %>
    <div class="dropzone relative dropzone-default dz-clickable border=2 rounded-lg border-gray-400 border-dashed hover:opacity-90  hover:border-gray-200" 
    data-controller="dropzone" 
    data-max-file-size="20" 
    data-dropzone-max-files="1">
    
    <%= form.file_field :feature_file, 
    direct_upload: true , 
    data: { target: "dropzone.input" } ,
    class: "inline-block shadow rounded-md border border-gray-400 px-3 py-2 mt-2 w-full md:h-24" %>

    <div class="dropzone-msg dz-message needsclick text-gray-600 "> 
      <h3 class="dropzone-msg-title">Drag and drop</h3>
      <span class=""dropzone-msg-desc text-sm>20 MB max</span>
    </div>
    </div>
  </div>
  <!--
  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  -->
  <div class="inline">
    <%= form.submit class: "mx-2 my-2  rounded-lg py-3 px-5 bg-violet-700 hover:bg-violet-500 ransition-all duration-300 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
